<div class= "<%= index  == 0 ? 'item active' : 'item' %>" >
    <div class="carousel-content">
      <div>
        <h4><%= quote.text %></h4>
        <p>-- <%= quote.name %></p>
      </div>
    </div>
</div>
