<div class="comment-box">
  <form class="form-inline" action="/action_page.php">
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="mail/name">
    </div>
    <div class="form-group">
      <input type="comment" class="form-control" id="pwd" placeholder="comment">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
