<div class="footer">
  <div id="text-carousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="row">
          <div class="col-xs-offset-3 col-xs-6">
              <div class="carousel-inner">
                <% carousel_quotes.each_with_index do |quote, i|%>
                  <%= render partial: "shared/carousel_item", locals: { quote: quote, index: i} %>
                <% end %>

              </div>
          </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#text-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
   <a class="right carousel-control" href="#text-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
