<div class="footer">
  <div class="wrap">
    <h3>SAY HELLO</h3>
    <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Vestibulum ut tortor urnati dunt

      dolor. Nunc vulputate ultrices con sect etur donec semper lacinia ultri dolore cie

      lorem ipsum commete.
    </p>
    <div class="footerlinks">
      <div class="share">
        <li><a href="#" target="_blank" title="Facebook"><span class="social fbook"> </span></a></li>
        <li><a href="#" target="_blank" title="twitter"><span class="social twitter"> </span></a></li>
      </div>
    </div>
  </div>
</div>
