<div class="header">
  <div class="wrap">
    <!-- Start-logo-->
    <div class="logo">
      <a href=<%= root_path %>>
        <img src=<%= asset_path('logo.png') %> title="logo" />
      </a>
    </div>
    <div class="clear"> </div>
  </div>
</div>
