.header-nav1 ul {
  margin-bottom: 0px;
}

.header-nav1 ul li a {
  padding: 14px 11px 14px 14px;
}

em {
  background: yellow;
}

.carousel-content {
  align-items:center;
  text-align: center;
  color:white;
}

#text-carousel {
  width: 100%;
  height: auto;

}
